# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# IDE
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Git
.git
.gitignore
.gitattributes

# Config
*.local

# OS
.DS_Store
Thumbs.db
