<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.oa.okr.dao.OkrPeriodDao">

    <sql id="base_columns">
        t_okr_period.period_id,
        t_okr_period.period_name,
        t_okr_period.start_date,
        t_okr_period.end_date,
        t_okr_period.status,
        t_okr_period.remark,
        t_okr_period.deleted_flag,
        t_okr_period.create_user_id,
        t_okr_period.update_time,
        t_okr_period.create_time
    </sql>

    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.oa.okr.domain.vo.OkrPeriodVO">
        select
        <include refid="base_columns"/>,
        t_employee.actual_name as createUserName
        from t_okr_period
        left join t_employee on t_okr_period.create_user_id = t_employee.employee_id
        <where>
            <if test="queryForm.deletedFlag != null">
                and t_okr_period.deleted_flag = #{queryForm.deletedFlag}
            </if>
            <if test="queryForm.status != null">
                and t_okr_period.status = #{queryForm.status}
            </if>
            <if test="queryForm.keywords != null and queryForm.keywords != ''">
                and instr(t_okr_period.period_name, #{queryForm.keywords})
            </if>
            <if test="queryForm.startDateBegin != null">
                and date_format(t_okr_period.start_date, '%Y-%m-%d') &gt;= date_format(#{queryForm.startDateBegin}, '%Y-%m-%d')
            </if>
            <if test="queryForm.startDateEnd != null">
                and date_format(t_okr_period.start_date, '%Y-%m-%d') &lt;= date_format(#{queryForm.startDateEnd}, '%Y-%m-%d')
            </if>
        </where>
        order by t_okr_period.start_date desc, t_okr_period.period_id desc
    </select>

    <select id="getDetail" resultType="net.lab1024.sa.admin.module.business.oa.okr.domain.vo.OkrPeriodVO">
        select
        <include refid="base_columns"/>,
        t_employee.actual_name as createUserName
        from t_okr_period
        left join t_employee on t_okr_period.create_user_id = t_employee.employee_id
        where t_okr_period.period_id = #{periodId}
          and t_okr_period.deleted_flag = #{deletedFlag}
    </select>

    <select id="queryAll" resultType="net.lab1024.sa.admin.module.business.oa.okr.domain.vo.OkrPeriodVO">
        select
        <include refid="base_columns"/>,
        t_employee.actual_name as createUserName
        from t_okr_period
        left join t_employee on t_okr_period.create_user_id = t_employee.employee_id
        <where>
            <if test="deletedFlag != null">
                and t_okr_period.deleted_flag = #{deletedFlag}
            </if>
        </where>
        order by t_okr_period.start_date desc, t_okr_period.period_id desc
    </select>

</mapper>
